.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




#about-me {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
    background-color: #7bd29d;
    border-radius: 30px;
}

#contact-us {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
    background-color: #d0906b;
    border-radius: 30px;
}

#login-form {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    padding: 100px;
    background-color: cadetblue;
    border-radius: 30px;
}




.btn {
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn-green {
  background-color: #4CAF50;
}

.btn-green a {
  color: #000;
}