
.create-quote-body {
    font-family: 'Montserrat', sans-serif;
    background-color: #101728;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #101728;
}

.navbar-header {
    margin: 10px;
}

.navbar-brand img {
    width: auto;
    height: 140px;
    margin-left: 3cm;
}

.navbar-brand {
    margin-left: 30px;
    width: 70px;
    height: auto;
}

.nav {
    list-style-type: none;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif !important;
}

.nav-item a:hover {
    color: #F06744;
}

/*//update phone section*/

.payment-profile {
    display: flex;
    justify-content: center;
    text-align: center;
}
.payment-profile-container {
    background-color: #101728;
    width: 400px;
    color: white;
    font-size: 16px;
}

.profile-link {
    text-decoration: none;
    color: #F06744;
}

.profile-link:hover {
    color: #69AD9F;
}

/*create quote form*/
.create-quote-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1cm;
    margin-left: 1cm;
    padding: 1cm;
    background-color: #101728;
    font-family: 'Montserrat', sans-serif !important;
}

/*/page title */
.create-quote-title-container {
    background-color: #101728;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;

}

.create-quote-title {
    color:  white;
    margin: 0;
    font-size: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*input styling*/
.form-control {
    background-color: white;
    color: #101728;
    border-radius: 0px;
}

label {
    margin-bottom: 0rem !important;
}

.input-label {
    color: white;
}

.form-control::placeholder {
    color: #46736a;
}

.form-control:focus {
    background-color: white;
    border-color: #F06744;
    border-width: 2px;
    border-style: groove;
    color: #101728;
    box-shadow: 0 0 5px #F06744;
}

/*cleaning options with radio buttons, and title*/
.cleaning-options-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.radio-button-title-container {
    padding: 5px;
    border-radius: 5px;
    width: 190px;
    height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    text-align: center;
}

.radio-button-title {
    color:  white;
    margin-left: 14px;
    font-size: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.create-quote-radio-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

/*styling the actual radio buttons*/
.form-check-input[type="radio"] {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    outline: none;
    transition: all 0.3s ease;
}

.form-check-input[type="radio"]:checked {
    background-color: #F06744;
    border-color: #f1876d;
    box-shadow: 0 0 5px #f3ac9a;
}

.form-check-label {
    position: relative;
    padding-right: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.text-danger {
    color: #F06744 !important;
}


/*container for calculate and pay buttons*/
.create-quote-submit-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/*calculate and pay buttons*/
.btn {
    border: #F06744;
    color: white;
}

.btn-primary {
    background-color: #69AD9F;
    padding: 5px;
    border: #69AD9F;
    border-radius: 5px;
    margin-right: 13px;
    margin-bottom: 5px;
    width: 150px;
    height: 35px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #548A7F;
    box-shadow: 0 0 5px #32544d;
    color: white;
}

.btn-primary:active {
    background-color: #3d5050 !important;
    box-shadow: 0 0 5px #32393a !important;
    color: white !important;
}

.btn-success {
    background-color: #F06744;
    padding: 5px;
    border: #F06744;
    margin-left: 13px;
    margin-bottom: 5px;
    width: 150px;
    height: 35px;
    font-size: 16px;
}

.btn-success:hover {
    background-color: #c05e44;
    box-shadow: 0 0 5px #8a4330;
    color: white;
}

.btn-success:active {
    background-color: #50403d !important;
    box-shadow: 0 0 5px #3a3432 !important;
    color: white !important;
}

.alert-calculate {
    color: #F06744;
}

.create-quote-cancel {
    text-align: center;
    margin-bottom: 50px;
}

.cancel-button a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

/*footer*/
.create-quote-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: small;
    margin-right: 2cm;
    padding: 4px;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
}

