
.create-quote-body {
    font-family: 'Montserrat', sans-serif;
    background-color: #101728;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #101728;

}

/*.navbar-header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.navbar-brand {
    margin-left: 30px;
    width: 70px;
    height: auto;
}

.nav {
    list-style-type: none;
    /*gap: 10px;*/
    /*margin-right: 20px;*/
}

.nav-item a {
    color: #69AD9F;
    text-decoration: none;
    /*padding: 5px;*/
}

.nav-item a:hover {
    color: #f3ac9a;
}


/*create quote form*/
.create-quote-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1cm;
    margin-left: 1cm;
    margin-bottom: 1cm;
    padding: 1cm;
    border-radius: 5%;
    background-color: #fdf6c9;
makes numbe    font-family: 'Montserrat', sans-serif !important;
}


/*/page title */
.create-quote-title-container {
    background-color: #69AD9F;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.create-quote-title {
    color:  #19243f;
    margin: 0;
    font-size: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*input styling*/
.form-control {
    background-color: #7faba2;
    color: #46736a;
}

.input-label {
    color: #46736a;
}

.form-control::placeholder {
    color: #46736a;
}

.form-control:focus {
    background-color: #ef876c;
    border-color: #ec795b;
    border-width: 2px;
    border-style: groove;
    color: #9b4731;
    box-shadow: 0 0 5px #e86a49;
}

/*cleaning options with radio buttons, and title*/
.cleaning-options-container {
    border: 2px solid #69AD9F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.radio-button-title-container {
    background-color: #69AD9F;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 190px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;

}

.radio-button-title {
    color:  #19243f;
    margin: 0;
    font-size: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.create-quote-radio-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    margin-bottom: 5px;
}

/*styling the actual radio buttons*/
.form-check-input[type="radio"] {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #69AD9F;
    outline: none;
    transition: all 0.3s ease;
}

.form-check-input[type="radio"]:checked {
    background-color: #F06744;
    border-color: #f1876d;
    box-shadow: 0 0 5px #f3ac9a;
}

.form-check-label {
    position: relative;
    padding-right: 10px;
    color: #46736a;
    cursor: pointer;
    font-size: 16px;
}

.text-danger {
    color: #F06744 !important;
}
.text-danger {
    color: #F06744;
}

/*.radio-button-error {*/
/*    */
/*}*/

/*container for calculate and pay buttons*/
.create-quote-submit-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/*calculate and pay buttons*/
.btn {
    border: #F06744;
    color: #19243f;
}

.btn-primary {
    background-color: #69AD9F;
    padding: 5px;
    border: #69AD9F;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 35px;
    font-size: 20px;
}

.btn-primary:hover {
    background-color: #F06744;
    box-shadow: 0 0 5px #b94e33;
    color: #19243f;
}

.btn-primary:active {
    background-color: #e88065 !important;
    box-shadow: 0 0 5px #af5f4b !important;
    color: #19243f !important;
}

.btn-success {
    background-color: #69AD9F;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 35px;
    font-size: 20px;
}

.btn-success:hover {
    background-color: #F06744;
    box-shadow: 0 0 5px #b94e33;
    color: #19243f;
}

.btn-success:active {
    background-color: #e88065 !important;
    box-shadow: 0 0 5px #af5f4b !important;
    color: #19243f !important;
}

.alert-calculate {
    color: coral;
}


/*footer*/
#register-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: small;
    margin-right: 2cm;
    padding: 4px;
    color: #69AD9F;
    font-family: 'Montserrat', sans-serif !important;
}

