
#about-me {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    background-color: #7bd29d;
    border-radius: 30px;
    margin-top: 250px;
    margin-bottom: 250px;
}

#about-us {
  position: relative;
  margin-top:250px;
  margin-bottom:250px;

}

#about-us .aboutus-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  border-radius: 30px;
}

#about-us > div {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}



#about-us h1{
  font-family: 'Oleo Script';
  font-size: 38px;
  justify-content: center;
  display: flex;
  font-weight: bold;
}


/* Create three equal columns that floats next to each other */
#about-us .column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-top: 300px;
}

/* Clear floats after the columns */
#about-us .row:after {
  content: "";
  display: table;
  clear: both;
}



#contact-us {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
    background-color: #d0906b;
    border-radius: 30px;

}

.navbar-brand{
  margin-left:70px;

}




.brand-name{
   font-family: 'Oleo Script';
   font-size: 38px;
   margin-left:100px;
   margin-top:20px;
   font-style: italic;

 }

.brand-name p {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */

}





.login-container  {
  display: flex;
  align-items:center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  position: relative;

}


.login-form-contain {
  position: relative;
  align-items: center;
  padding:100px;
  border-radius: 30px;

}

.login-form-contain h1 {
 font-family: 'Abril Fatface', serif;
 margin-bottom: 40px;
}


.login-image {
  position: absolute;
  display: flex;
  top: 20px;
  margin-top: -180px;
  left: 0;
  width: 300%;
  height: auto;
  z-index: -1;
  border-radius: 30px;
  margin-left: -150px;

}






/* These buttons only for login and sign up */
#login-form .btn {
  padding: 15px 25px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 9px #999;
  margin-right: 10px;
  margin-top: 25px;

}

#login-form .btn.primary {background-color: #2196F3;} /* Blue */
#login-form .btn.primary:hover {background: #0b7dda;}

#login-form .btn.success {background-color: #04AA6D;} /* Green */
#login-form .btn.success:hover {background-color: #46a049;}

#login-form .btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




/* This button code for others */
.btn {
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}




/* Hide footer container on all pages */
/*#footer-container {
  display: none;

} */

/* Show footer container on Contact Us page */
body.contact-us #footer-container {
   position: absolute;
}



.navbar-nav {
  display: flex;
  float:right;
  text-align: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  font-family:'Alexandria';
  font-size: 20px;
}

.navbar-nav li a {
  color: black;
}


/* Create Quotes button from index.html */


.button-a {
  border-radius: 4px;
  background-color: #76B947;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  justify-content: center;
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;


}

.button-a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-a span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-a:hover span {
  padding-right: 25px;
}

.button-a:hover span:after {
  opacity: 1;
  right: 0;
}


/* Create equal columns that floats next to each other for createquotes page*/
#index .column {
 float : left;
 width : 50%;
 padding : 100px;
 height : auto;
 margin-top: 0px;

}


/* Clear floats after the columns for createquotes page */
#index .row:after {
 content: "";
 display: table;
 clear: both ;

}

#index > header h1 {

    font-family: 'Oleo Script';
    font-size: 38px;
    justify-content: center;
    display: flex;
    font-weight: bold;
    margin-top: 25px;

  font-family: 'Oleo Script';
  font-size: 38px;
  justify-content: center;
  display: flex;
  font-weight: bold;
  margin-top:25px;

}
/*Create User form*/
/*TODO: revisit this part when fonts and colors have been standardized*/

.register-title {
    color: #404242;

}

.register-body {
    font-family: 'Montserrat', sans-serif;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1cm;
    padding: 1cm;
    border-radius: 5%;
    background-color: rgba(245, 243, 243, 0.8);
    /*background: url("/static/images/clean.png") no-repeat center bottom/cover;*/
    /*height: 100vh;*/
}

.register-form input {
    background-color: #e7e4e7;
    color: #505050;
    font-size: small;
}

.register-form input:focus {
    outline: none;
    background-color: #d0cece;
    border: 2px solid #132626;
    box-shadow: 0 0 5px #616162;
}

.register-label {
    color: #969696;
}


#register-password-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#register-password-div .form-group {
    width: 38%;
}

#register-create-button-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#register-create-button {
    background-color: #132626;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    width: 180px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 16px;
    line-height: 20px;
}

#register-create-button:hover {
    box-shadow: 0px 2px 4px #132626;
}


#register-create-button:active {
    background-color: cadetblue;
    box-shadow: 0px 2px 4px #335556;
    color: #f1cbbd;
}

.register-login-redirect {
    font-size: 13px;
    padding: 5px;
}

.register-login-redirect a {
    color: #0e1818;
    text-decoration: none;
    text-decoration: underline;
}

#register-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: small;
    padding: 4px;
}




